body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
*::-webkit-scrollbar{
    width: 10px;
    height: 12px;
    border-radius: 5px;
}
*::-webkit-scrollbar-track{
    background: rgba(235, 236, 241,1);
}
*::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, .9);
    border-left: 2px solid rgba(255, 255, 255, 1);
    border-top: 2px solid rgba(255, 255, 255, 1);
}
*::-webkit-scrollbar-thumb:hover{
    background: rgba(0, 0, 0, 0.8);
}
.navbar{
    padding: .6rem .1rem;
    background-color: rgba(15, 14, 14, 0.1) !important;
    position:fixed;
    top:0; 
    left:0;
    width:100%;
    z-index:100;
}
.navDark{
    background-color: rgba(15, 14, 14, 0.9) !important;
}

.dropdown-menu{
    background-color: #0f0e0e !important;
}
.dropdown-menu a{
    color: rgba(255,255,255,.5) !important;
}
.dropdown-menu a:hover{
    background-color: #0f0e0e !important;
    color: #FFF !important;
}
h1, h2, h3, h4, h5, h6, .navbar-brand{
    text-transform: none;
}
.text-black{
    color: #000 !important;
}
.bg-black{
    background: #000 !important;
}
.full-height{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .navbar-nav{
        background-color: rgba(15, 14, 14, 0.9) !important;
    }
}